<%- include("../includes/head.ejs") %>
<%- include("../includes/navigation.ejs") %>
<main>
    <h1>Edit Blog</h1>
        <form action="/blogs/edit-blog/<%= blog._id %>" method="POST">
        <div>
            <label for="imageUrl">Image Url</label>
            <input type="text" id="imageUrl" name="imageUrl" value="<%= blog.imageUrl %>">
        </div>

        <div>
            <label for="blogTitle">Blog Title</label>
            <input type="text" id="blogTitle" name="title" value="<%= blog.title %>">
        </div>

        <div>
            <label for="blogDescription">Blog Description</label>
            <input type="text" id="blogDescription" name="description" value="<%= blog.description %>">
        </div>

        <div>
            <label for="blogBody">Blog Body</label>
            <textarea name="blogBody" id="blogBody" cols="30" rows="10"><%= blog.blogBody %></textarea>
        </div>
        <button type="submit">Update Blog</button>
    </form>
</main>
<%- include("../includes/end.ejs") %>