<%- include("../includes/head.ejs") %>
<%- include("../includes/navigation.ejs") %>
<main>
    <div class="grid">
            <article class="card product-item">
                <div class="card__image">
                    <img src="<%= blog.imageUrl %>" alt="<%= blog.title %>">
                </div>
                <small><%= blog.reading_time %> minute read</small>

                <header class="card__header">
                    <h1 class="blog__title"><%= blog.title %></h1>
                </header>

                <div>
                    <small><%= blog.author %></small>
                </div>

                <div class="card__content">
                    <h2 class="blog__description"><%= blog.description %></h2>
                    <p class="blog__body"><%= blog.blogBody %></p>
                </div>
                <div class="card__actions">
                    <a href="/blogs/edit-blog/<%= blog._id%>" class="btn">Edit</a>
                    <form action="/blogs/delete-blog/<%= blog._id %>" method="POST">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>
            </article>

    </div>
</main>
<%- include("../includes/end.ejs") %>