<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
</head>
<body>
<main>
    <div class="grid">
        <article class="card product-item">
            <div class="card__image">
                <img src="<%= blog.imageUrl %>" alt="<%= blog.title %>">
            </div>

            <header class="card__header">
                <h1 class="blog__title"><%= blog.title %></h1>
            </header>

            <div>
                <small><%= blog.author %></small>
            </div>

            <div class="card__content">
                <h2 class="blog__description"><%= blog.description %></h2>
                <p class="blog__body"><%= blog.blogBody %></p>
            </div>
        </article>

    </div>
</main>

</body>
</html>